.card {
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.card a {
    color: black;
}

.card a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.card h2 {
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    font-family: 'Slabo 27px', serif;
}

i {
    padding-right: 10px;
}

body {
    background-color: rgb(241, 241, 241);
}

header {
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('../img/bg.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
    animation: 10s linear 0s normal none infinite animate;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Lato', sans-serif;
}

.jumbotron-heading {
    font-size: 56px;
    font-family: 'Slabo 27px', serif;
}

.navbar {
    background-color: rgba(0, 0, 0, .5);
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}